extends default

block content
  div.container-detail
    h3 #{poll.title}
    div.container-scroll
      each answer in poll_answers
        if selected_answer_id == answer.id
          div.list-item.list-item--color-green
            p
              | #{answer.title}
        else
          div.list-item
            a(onclick="this.getElementsByTagName('form')[0].submit();")
              p
                | #{answer.title}
              form.nosize(action=`/poll/${poll.id}/answer/${answer.id}/vote`, method="POST")
    div.input-field
      form(action=`/poll/${poll.id}/add`, method="POST")
        input.input-text--size-lg(type="text", name="text", placeholder="deine antwort")
        input.button--size-md(type="submit")
